extends header
block content
    body
      form(action="/add" method="post")
        .inputField
          input.createInput(name="title" placeholder="title")
          input.createInput(name="author" placeholder="author")
          input.createInput(name="genre" placeholder="genre")
          input.createInput(name="image" placeholder="image URL")
          input.createInput(name="description" placeholder="description")
          button(type="submit") Create Book