extends header
block content
    body
      form(action="/add" method="post")
        .inputField
          input(class="createInput" name="title" placeholder="title")
          input(class="createInput" name="author" placeholder="author")
          input(class="createInput" name="genre" placeholder="genre")
          input(class="createInput" name="image" placeholder="image URL")
          input(class="createInput" name="description" placeholder="description")
          button(type="submit") Create Book