extends header

block content
  body
      for i in book
        img(src= i.image)
        div= i.author
        div= i.title
        div= i.genre
        div= i.description
          form(method="post" action="/deleteBook/"+i.id) 
            button(type='submit') Delete