extends header.pug

block content
  body
    form(action="/add" method="post")
      input(name='title' type='text' , placeholder="title")
      input(name='year' type='text' , placeholder="year")
      //- input.author(placeholder="author")
      //- input.genre(placeholder="genre")
      button(type="submit") Create Book
