extends header.pug

block content
  body
    form(action="http://localhost:3000/add" method="POST")
      input.title(placeholder="title")
      input.year(placeholder="year")
      //- input.author(placeholder="author")
      //- input.genre(placeholder="genre")
      input(type="submit")