extends header

block content
  body
    .pagination
      for book in books
        a(href='/details/' + book.id)
          img(src= book.image onError="this.src='not_found.png'")
        .indexTitle= book.title