extends header.pug

block content
  body
    form(action="/add" method="post")
      input(name="title" placeholder="title")
      input(name="author" placeholder="author")
      input(name="genre" placeholder="genre")
      input(name="image" placeholder="image URL")
      input(name="description" placeholder="description")
      button(type="submit") Create Book
  form(action="/" method="get")
    for book in books
      img(src= book.image)
      div= book.author
      div= book.title
      div= book.genre
      div= book.description
      
